<form [formGroup]="profileForm">
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput formControlName="firstName" />
    <mat-error>
      The field is required and must contain between 2 and 20
      characters.</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input matInput formControlName="lastName" />
    <mat-error>
      The field is required and must contain between 2 and 20
      characters.</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Phone number</mat-label>
    <input
      matInput
      [imask]="{ mask: '+000 (00) 000-00-00' }"
      [unmask]="true"
      placeholder="+380 (67) 000-00-00"
      formControlName="phone"
    />
    <mat-error>Please provide valid data.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="mail@domain.com" formControlName="mail" />
    <mat-error> Please provide valid data. </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>City</mat-label>
    <select matNativeControl formControlName="city">
      <option *ngFor="let city of formService.cities" [value]="city">
        {{ city }}
      </option>
    </select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Address</mat-label>
    <input matInput formControlName="address" />
    <mat-error> The field must contain between 3 and 20 characters. </mat-error>
  </mat-form-field>
</form>
<button
  mat-raised-button
  [disabled]="profileForm.invalid"
  (click)="checkData()"
>
  Save
</button>
